<section class="content-header">
  <h1>Tabel
  <small>Analisis</small>
  </h1>
</section>


<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="x_content">
            <table class="table">
              <caption>Tabel Rangking Alternatif</caption>
              <thead>
                <tr>
                  <td><center><b>#</b></center></td>
                  <% kr = 1 %>
                  <% @kriteria.each do |k| %>
                  <% tipe = case k.tipe %>
                    <% when 1 then "B" %>
                    <% when 0 then "C" %>
                    <% end %>
                  <th scope="col"><%= kr.to_s+" "+tipe %></th>
                  <% kr=kr+1 %>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @alternatif.each do |a| %>
                <tr>
                <th scope="row"><%= a.nama_alternatif %></th>
                <% data = Rangking.where(alternatif_id: a.id) %>
                      <% data.each do |d| %>
                        <td ><%= d.nilai %></td>
                      <% end %>
                </tr>
                <% end %>
                <tr>
                <th scope="row"> |X| </th>
                      <% @X.each do |x| %>
                        <td ><%= x %></td>
                      <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="x_content">
            <table class="table">
              <caption>Matriks R</caption>
              <tbody>
                <% j=0 %>
                <% @rangeAlternatif.each do |a| %>
                    <tr>
                      <% i=0 %>
                      <% @R.each do |subAr| %>
                        <td><%= @R[i][j] %></td>
                        <% i+=1 %>
                      <% end %>
                    </tr>
                  <% j+=1 %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="x_content">
            <table class="table">
              <caption>Matriks Y</caption>
              <tbody>
                <% j=0 %>
                <% @rangeAlternatif.each do |a| %>
                    <tr>
                      <% i=0 %>
                      <% @Y.each do |subAr| %>
                        <td><%= @Y[i][j] %></td>
                        <% i+=1 %>
                      <% end %>
                    </tr>
                  <% j+=1 %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="x_content">
            <table class="table">
              <caption>Nilai A</caption>
              <tbody>
                <tr>
                  <th scope="col">A+</th>
                  <% @APlus.each do |ap| %>
                    <td><%= ap %></td>
                  <% end %>
                </tr>
                <tr>
                  <th scope="col">A-</th>
                  <% @AMinus.each do |am| %>
                    <td><%= am %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
