<%= form_for(materium) do |f| %>
  <% if materium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(materium.errors.count, "error") %> prohibited this materium from being saved:</h2>

      <ul>
      <% materium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %>
    <%= f.text_field :index %>
  </div>

  <div class="field">
    <%= f.label :show %>
    <%= f.text_field :show %>
  </div>

  <div class="field">
    <%= f.label :edit %>
    <%= f.text_field :edit %>
  </div>

  <div class="field">
    <%= f.label :delete %>
    <%= f.text_field :delete %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
