<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @materium.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @materium.show %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @materium.edit %>
</p>

<p>
  <strong>Delete:</strong>
  <%= @materium.delete %>
</p>

<%= link_to 'Edit', edit_materium_path(@materium) %> |
<%= link_to 'Back', materia_path %>
